<h2>Traning Schedule </h2>
<marquee><h5><font color="red" size="11" face="Bernard MT Condensed"><l>Each of session may be take  1 hour long!</font></h5></marquee>
<table class="table table-bordered">
<colgroup><col width="93" /> <col width="171" /> </colgroup>
<tbody>
<tr>
<td class="xl71" width="93" height="25"><b>Basic</td>
<td width="171">&nbsp;</td>
</tr>
<tr>
<td class="xl66" rowspan="3" height="60">1</td>
<td class="xl65">Environment</td>
</tr>
<tr>
<td class="xl65" height="20">Console&nbsp;</td>
</tr>
<tr>
<td class="xl65" height="20">Basic</td>
</tr>
<tr>
<td class="xl70" height="20">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="xl71" height="25"><b>Usage</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="xl69" rowspan="3" height="60">2</td>
<td class="xl65"><b>Module</td>
</tr>
<tr>
<td class="xl65" height="20">export</td>
</tr>
<tr>
<td class="xl65" height="20">Package Manager</td>
</tr>
<tr>
<td class="xl70" height="20">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="xl71" height="25"><b>Process</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="xl69" rowspan="5" height="100">3</td>
<td class="xl65">Web Server</td>
</tr>
<tr>
<td class="xl65" height="20">File System</td>
</tr>
<tr>
<td class="xl65" height="20">Debug&nbsp;</td>
</tr>
<tr>
<td class="xl65" height="20">Inspector</td>
</tr>
<tr>
<td class="xl65" height="20">EventEmitter</td>
</tr>
<tr>
<td class="xl70" height="20">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="xl71" colspan="2" height="25"><b>Framework</td>
</tr>
<tr>
<td class="xl69" rowspan="3" height="60">4</td>
<td class="xl65">Express</td>
</tr>
<tr>
<td class="xl65" height="20">Web app</td>
</tr>
<tr>
<td class="xl65" height="20">Static Resource</td>
</tr>
<tr>
<td class="xl70" height="20">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="xl71" colspan="2" height="25"><b>Data Access</td>
</tr>
<tr>
<td class="xl69" rowspan="3" height="60">5</td>
<td class="xl65">MSSql</td>
</tr>
<tr>
<td class="xl65" height="20">Mongo</td>
</tr>
<tr>
<td class="xl65" height="20">Mysql ,etc</td>
</tr>
<tr>
<td class="xl70" height="20">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="xl71" colspan="2" height="25"><b>Template Engine</td>
</tr>
<tr>
<td class="xl69" rowspan="3" height="60">6</td>
<td class="xl65">Jade</td>
</tr>
<tr>
<td class="xl65" height="20">Vash</td>
</tr>
<tr>
<td class="xl65" height="20">ejs</td>
</tr>
<tr>
<td height="20">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td height="20">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="xl72" colspan="2" height="21"><b>Project Structure using MVC with Demo</td>
</tr>
<tr>
<td class="xl69" rowspan="3" height="60">7</td>
<td class="xl65">control</td>
</tr>
<tr>
<td class="xl65" height="20">header detail flow</td>
</tr>
<tr>
<td class="xl65" height="20">web processing&nbsp;</td>
</tr>
</tbody>
</table>