<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/css/error.css"> 
</head>
<body>
<div class="wrapper row">
  <div id="container" class="clear">
  
    <section id="fof" class="clear">
      <div class="hgroup">
        <h1><span><strong>5</strong></span><span><strong>0</strong></span><span><strong>0</strong></span></h1>

        <h2>Error !  <span>Internal Server Error!</span></h2>
      </div>
      <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
      <p><a href="/">&laquo; Go Back</a> / <a href="/">Go Home &raquo;</a></p>
    
    </section>
  
  </div>
</div>
</body>
</html>